<!--The content below is only a placeholder and can be replaced.-->
<div class="background"></div>
<div fxLayout="column" fxLayoutAlign="space-between start" fxLayoutGap="20px">
  <mat-toolbar color="primary" fxLayout="row" fxLayoutGap="30px">
    <button mat-flat-button color="primary" routerLink="/">
      <h6>VatapaueR</h6>
    </button>

    <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="20px">
      <button mat-flat-button color="primary" routerLink="dashboard">
        Dashboard
      </button>
      <button mat-flat-button color="primary" routerLink="trivia">
        Trivia
      </button>
      <button mat-flat-button color="primary" routerLink="about">Sobre</button>
    </div>
  </mat-toolbar>
  <div fxLayout="row" fxLayoutAlign="center start">
    <div fxFlex="75%">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
