.background {
  background-color: rgba(204, 204, 204, 0.274);
  right: 0;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: -100;
}

.basic-container {
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 3vh;
  padding-bottom: 3vh;
  background-color: white;
}

.toolbar-custom-button {
  margin-left: 20px;
}