.basic-container {
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
    background-color: white;
}


.user-container {
    margin-left: 10px;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: medium;
    font-weight: normal;
}