
<div fxLayout="row" style="width: 100%" fxLayoutAlign="center start">
  <div class="mat-elevation-z10 initial-page-container" fxFlex="75%"
    fxLayout="row" fxLayoutAlign="space-between center">

    <img src="assets/images/dudes1.jpg" alt="Foto da pagina inicial">

    <p>
    Trabalho feito pela equipe <b>VatapaueR</b>, neste site montamos uma
    plataforma de visualização e analise de dados de forma dinâmica.
    <br><br>
    Com a grande quantidade de dados do mundo moderno, se faz necessário
    plataformas que facilitem a análise desses para a tomada de decisões
    de forma correta por parte de empresas e governos. 
    <br><br>
    Como esses dados
    estão constatemente sendo atualizados, uma plataforma dinâmica é 
    imprescindível.
    </p>

  </div>
</div>
