<div style="position: absolute; left: 0; right: 0;" fxLayout="row" fxLayoutAlign="center center">

  <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="20px">
    <div fxLayout="column" class="basic-container mat-elevation-z11">
      <h3>Tipo de Visualização</h3>
      <mat-select placeholder="Tipo de mostragem"[(ngModel)]="tipoMostrando" (selectionChange)="mudarChart($event)">
        <mat-option value="chart">Gráfico</mat-option>
        <mat-option value="lista">Lista</mat-option>
      </mat-select>
      <h3>Escolher informação:</h3>
      <mat-select 
        placeholder="Gráfico" name="item"
        [(ngModel)]="currentPage" 
        (selectionChange)="mudarChart($event)">
        <mat-option *ngFor="let chart of possibleChart" [value]="chart.url">
          {{chart.nome}}
        </mat-option>
      </mat-select>
      <h3>Filtros</h3>

      <mat-select placeholder="Tipo de filtro"[(ngModel)]="tipoFiltro" (selectionChange)="mudaFiltro($event)">
        <mat-option value="comeca">Começa com</mat-option>
        <mat-option value="contem">Contém</mat-option>
        <mat-option value="termina">Termina com</mat-option>
      </mat-select>
      <span fxLayout="row">
        <mat-form-field>
          <input matInput placeholder="Filtrar Nome..." [(ngModel)]="filterName">
        </mat-form-field>
        <button mat-icon-button (click)="mudaFiltro()"><mat-icon>search</mat-icon></button>
      </span>
    </div>
    
    <div class="basic-container mat-elevation-z11" 
      fxLayout="column" 
      fxLayoutAlign="start center"
      *ngIf="tipoMostrando == 'chart'">
      <h2>{{getChart(currentPage).nome}}</h2>
      <canvas
        baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        [chartType]="barChartType"
        height="400px"
        width="600px"
      >
      </canvas>
      <div fxLayout="row">
        <button mat-icon-button (click)="mudaPag(-1)"><mat-icon>navigate_before</mat-icon></button>
        <p style="margin-bottom: 10px">Página {{page}} de {{maxPage}}</p>
        <button mat-icon-button (click)="mudaPag(1)"><mat-icon>navigate_next</mat-icon></button>
      </div>
    </div>

    <div class="basic-container list-container mat-elevation-z11" 
      fxLayout="column" 
      fxLayoutAlign="center center"
      *ngIf="tipoMostrando == 'lista'">

      <div fxLayout="column">
        <!-- <div *ngFor="let data of currentLabels.slice(0, 10); let i = index;">
          <strong [ngStyle]="{'font-size': i === 0 ? 'xx-large' : 'x-large'}"> -->
              <table matSort>
                <tr>
                  <th mat-sort-header="name">Nome</th>
                  <th mat-sort-header="info">{{getChart(currentPage).labelInfo}}</th>
                </tr>
              
                <tr *ngFor="let data of currentLabels.slice(0, 10); let i = index;">
                  <td>{{i + 1}}.{{data}}</td>
                  <td>{{currentData[i]}}</td>
                </tr>
              </table>
            <!-- {{i + 1}}.{{data}} - {{currentData[i]}}
          </strong>
        </div> -->
      </div>
    
    </div>

  </div>
</div>
