<div style="position: absolute; left: 0; right: 0;" fxLayout="row" fxLayoutAlign="center start">
  <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="20px">
    <div fxLayout="column" 
      class="basic-container mat-elevation-z11" 
      fxFlex="70" fxLayoutAlign="start center" 
      fxLayoutGap="50px">

      <div fxLayout="row">
        <img src="assets/images/angular.svg" class="logo-container">
        <img src="assets/images/python.png" class="logo-container">
        <img src="assets/images/typescript.png" class="logo-container">
        <img src="assets/images/flask.png" class="logo-container">
        <img src="assets/images/postgree.png" class="logo-container">

      </div>

      <p>
        O Front-end foi construido com o framework web <strong>Angular</strong>,
        usando a biblioteca <strong>Material</strong> para fazer o design, ambos desenvolvido pela 
        <strong>Google&trade;</strong>. Nessa biblioteca a linguagem de
        programação utilizada é o <strong>Typescript</strong>.
        <br><br>
        O Back-end foi construido com a linguagem <strong>Python</strong>. Para fazer
        a criação do servidor foi utilizado a biblioteca <strong>Flask</strong>.
        Como SGBD, foi utilizado o <strong>Postgree</strong>.
      </p>

    </div>
  </div>
</div>
